.table-of-projects {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  .blog-list {
    margin-top: 20%;
    text-align: center;
    padding: 20px;
  }
}
