.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-container {
  display: flex;
  align-content: center;
  align-items: center;
  width: 70%;
  margin-top: 50px;
}

.blog-post {
  margin-left: 10%;
  margin-top: 10%;
  color: $text-color;
}

.blog-list {
  list-style: none;
  background-color: $bg-blur;
  width: 20%;
  height: 100%;
  padding: 20px 0px 20px 30px;
  color: $text-color;
}

.blog-side-list {
  margin-top: 30%;
}
