.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 750px) {
    justify-content: center;
    flex-direction: column;
  }
}

.blog-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 50px;
  @media screen and (max-width: 750px) {
    width: 100%;
    padding: 20px;
  }
}

.blog-post {
  margin-left: 10%;
  margin-top: 10%;
  color: $text-color;
  @media screen and (max-width: 750px) {
    margin-left: 0;
  }
}

.blog-list {
  list-style: none;
  background-color: $bg-blur;
  width: 20%;
  height: 100%;
  padding: 20px 0px 20px 30px;
  color: $text-color;
  @media screen and (max-width: 750px) {
    width: 100%;
    margin: 0;
  }
}

.blog-side-list {
  margin-top: 30%;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
