$font: "Circular Std", "Open Sans", Helvetica;
$bg-color: rgb(51, 51, 51);
$bg-blur: rgba(20, 20, 20, 0.6);
$text-color: rgb(227, 233, 250);
$text-hover: rgb(173, 178, 190);

@import "_parallax";
@import "_projects";
@import "_blog";

html,
body {
  margin: 0;
}

html {
  font-family: $font;
  color: $text-color;
  background-color: $bg-color;
}

a {
  color: $text-color;
  pointer-events: auto;
}

nav {
  height: 70px;
  position: fixed;
  z-index: 10;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: $bg-blur;
  margin: 0;
  padding: 0;
}

.nav-li {
  padding: 25px 20px;
}

.nav-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $text-hover;
  }
}

.about-content {
  font-size: 25px;
}

.no-underline {
  text-decoration: none;
}
