@font-face {
  font-family: "Circular Std";
  src: url("./CircularStd-Book.woff") format("woff");
}

$bg-color: rgb(51, 51, 51);
$bg-blur: rgba(20, 20, 20, 0.6);
$text-color: rgb(227, 233, 250);
$text-hover: rgb(173, 178, 190);

@import "_parallax";
@import "_projects";
@import "_blog";
@import "_archive";

html,
body {
  margin: 0;
}

html {
  color: $text-color;
  background-color: $bg-color;
}

a {
  color: $text-color;
  pointer-events: auto;
}

nav {
  height: 70px;
  position: fixed;
  z-index: 10;
  @media screen and (max-width: 750px) {
    width: 100%;
  }
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: $bg-blur;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 750px) {
    justify-content: center;
  }
}

.nav-li {
  padding: 25px 20px;
  margin-bottom: 0;
}

.nav-link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $text-hover;
  }
}

.no-underline {
  text-decoration: none;
}

.archive-link {
  text-align: right;
}
